<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Poke Fight</title>
</head>

<body>

	<h1>Main Page</h1>

    <h2>Your Team</h2>
    <%- team -%>
   <!-- <table border="1" id="team">
        <tr><th>Pokemon</th></tr>
        <tr><td id="p1">None</td></tr>
        <tr><td id="p2">None</td></tr>
        <tr><td id="p3">None</td></tr>
        <tr><td id="p4">None</td></tr>
        <tr><td id="p5">None</td></tr>
        <tr><td id="p6">None</td></tr>
    </table>-->

    <button onclick="openEditTeam()">Edit Team</button>

    <script src="../static/main.js"></script>
</body>

</html>
