<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Poke Fight</title>
</head>

<body>

	<h1>Main Page</h1>

    <h2>Your Team</h2>
    <table border="1" id="team">
        <tr><th>Pokemon</th></tr>
        <tr><td id="p1">None</td></tr>
        <tr><td id="p2">None</td></tr>
        <tr><td id="p3">None</td></tr>
        <tr><td id="p4">None</td></tr>
        <tr><td id="p5">None</td></tr>
        <tr><td id="p6">None</td></tr>
    </table>

    <button>Edit Team</button>

    <h2>Battle</h2>

    <button>Create a battle</button>
    Or
    <input type="text" id="code" placeholder="Enter game code">
    <button>Join a battle</button>

    <script src="../static/main.js"></script>
</body>

</html>
