<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Poke Fight</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <h1>Your Team</h1>

    <table style="margin: auto" border="1"><tr><td><img id="p1" src="" class="sprite" style="opacity: 0;"></td><td><img id="p2"src="" class="sprite" style="opacity: 0;"></td><td><img id="p3" src="" class="sprite" style="opacity: 0;"></td><td><img id="p4" src="" class="sprite" style="opacity: 0;"></td><td><img id="p5" src="" class="sprite" style="opacity: 0;"></td><td><img id="p6" src="" class="sprite" style="opacity: 0;"></td></tr></table>
    <br>
    <br>
    <form autocomplete="off" class="pokemon">
        <div class="name">
            Pokemon: <div class="autocomplete" style="width:200px;">
                <input id="name" type="text" name="name" autocomplete="off">
              </div>
        </div>
       
        <div class="sprite">
            <img id="pSprite" src="" class="sprite" style="display: none">
        </div>
        
        <div class="m1">
            <div class="moveName">
                Move 1: <div class="autocomplete" style="width:200px;">
                    <input id="m1" type="text" name="p1m1" disabled autocomplete="off">
                </div>
            </div>
            <div class="type">
                Type: 
            </div>
            <div class="power">
                Power: 
            </div>

            <div class="accuracy">
                Accuracy: 
            </div>

            <div class="pp">
                PP: 
            </div>

            <div class="desc">
                
            </div>
            
        </div>

        <div class="m2">
            <div class="moveName">
                Move 2: <div class="autocomplete" style="width:200px;">
                    <input id="m2" type="text" name="p1m2" disabled autocomplete="off">
                </div>
            </div>
            <div class="type">
                Type: 
            </div>
            <div class="power">
                Power: 
            </div>

            <div class="accuracy">
                Accuracy: 
            </div>

            <div class="pp">
                PP: 
            </div>

            <div class="desc">
                
            </div>
        </div>

        <div class="m3">
            <div class="moveName">
                Move 3: <div class="autocomplete" style="width:200px;">
                    <input id="m3" type="text" name="p1m3" disabled autocomplete="off">
                </div>
            </div>
            <div class="type">
                Type: 
            </div>
            <div class="power">
                Power: 
            </div>

            <div class="accuracy">
                Accuracy: 
            </div>

            <div class="pp">
                PP: 
            </div>

            <div class="desc">
                
            </div>
        </div>

        <div class="m4">
            <div class="moveName">
                Move 4: <div class="autocomplete" style="width:200px;">
                    <input id="m4" type="text" name="p1m4" disabled autocomplete="off">
                </div>
            </div>
            <div class="type">
                Type: 
            </div>
            <div class="power">
                Power: 
            </div>

            <div class="accuracy">
                Accuracy: 
            </div>

            <div class="pp">
                PP: 
            </div>

            <div class="desc">
                
            </div>
        </div>
    </form>
    <script src="../static/gen1Moves.js"></script>
    <script src="../static/editTeam.js"></script>
</body>

</html>
